%center
	%h1
		Temperatura
= area_chart @dados[:temperatura], xtitle: "", ytitle: "ยบ C", label: "Temperatura", min: @dados[:temperatura].values.min-1, max: @dados[:temperatura].values.max+1


%center
	%h1
		Umidade
= area_chart @dados[:umidade], xtitle: "", ytitle: "%", label: "Umidade", min: @dados[:umidade].values.min-1, max: @dados[:umidade].values.max+1