%center
	%h1
		Temperatura
= area_chart @dados[:temperatura], xtitle: "", ytitle: "ยบ C", label: "Temperatura"

%center
	%h1
		Umidade
= area_chart @dados[:umidade], xtitle: "", ytitle: "%", label: "Umidade"